body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(to bottom, #253B66, #1B2E4A) fixed;
  background-size: 100% 100%;
  font-weight: 500;
}

h1, h2, h3 {
  color: #F4A261 !important;
}

p, span, div, li, a {
  color: #39393A !important;
}
